$black1: #141414;
$white1: #f4f4f4;
* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}
@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
button:active{
	transform: scale(1.01);
}
body {
	width: 100%;
}
#root {
	@include flex-col-center;
	background-color: $white1;
	> * {
		width: 100%;
	}
}
.container {
	width: 1440px;
}
.header {
	@include flex-col-center;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 35px;
		height: 105px;
		.logo {
			color: $black1;
			font-size: 30px;
			font-weight: 700;
		}
		input {
			width: 500px;
			padding: 13px 25px;
			font-size: 20px;
			color: $black1;
			border-radius: 32px;
			outline: none;
			border: 2px solid $black1;
		}
		button {
			padding: 20px 30px;
			border: none;
			background-color: $black1;
			color: white;
			font-size: 17px;
			border-radius: 32px;
			font-weight: 600;
		}
	}
}
.introdaction {
	@include flex-col-center;
	.container {
		position: relative;
		height: 500px;
		padding: 50px 0px;
		.text {
			display: flex;
			flex-direction: column;
			gap: 50px;
			margin-top: 50px;
			width: 100%;
			position: absolute;
			.new {
				background-color: rgba(#121212, 0.05);
				border-radius: 100px;
				width: 205px;
				height: 28px;
				padding: 5px 10px;
				.innerNew {
					color: white;
					background-color: #111111;
					width: fit-content;
					padding: 5px 10px;
					border-radius: 100px;
				}
			}
			p {
				font-size: 22px;
				color: $black1;
				font-weight: 400;
				width: 550px;
			}
			h1 {
				font-size: 115px;
				color: black;
				font-weight: 600;
				line-height: 0.7;
				span {
					color: $white1;
					-webkit-text-stroke: 5px $black1;
					paint-order: stroke fill;
				}
			}
		}
	}
}
.userSearch {
	@include flex-col-center;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.inputPanel {
			width: 1050px;
			height: 90px;
			box-sizing: border-box;
			border-radius: 32px;
			border: 2px solid $black1;
			box-shadow: 0 5px 0 $black1;
			outline: none;
			display: flex;
			overflow: hidden;
			.left {
				padding: 30px 60px;
				font-size: 22px;
				font-weight: 500;
				color: $black1;
				background-color: #e1e1e1;
				border-right: 3px dashed $black1;
			}
			input {
				width: 100%;
				font-size: 20px;
				padding: 20px 30px;
				border: none;
				&:focus {
					outline: none;
				}
			}
		}
		button {
			padding: 30px 40px;
			border-radius: 32px;
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 20px;
			gap: 20px;
			outline: none;
			border: 2px solid $black1;
			box-shadow: 0 5px 0 $black1;
			transition:background-color 0.2s ease-in;
			cursor:pointer;
			&:hover{
				background-color: #E1E1E1;
			}
			.arrow {
				font-weight: 600;
				font-size: 25px;
			}
		}
	}
}
.scheduleMeetings {
	@include flex-col-center;
	.container {
		@include flex-col-center;
		margin-top: 50px;
		.block {
			width: 1372px;
			height: 690px;
			box-sizing: border-box;
			background: #5c5a5a;
			background: linear-gradient(
				180deg,
				rgba(92, 90, 90, 1) 17%,
				rgba(0, 0, 0, 1) 63%
			);
			padding: 54px 485px 118px 67px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			border-radius: 32px;
			h2 {
				color: #f9fafb;
				font-size: 60px;
				font-weight: 400;
			}
			h3 {
				&:first-child {
					color: #f9fafb;
				}
				font-size: 29px;
				font-weight: 300;
				color: #888888;
			}
			p {
				font-size: 22px;
				color: #f9fafb;
				font-weight: 300;
			}
		}
	}
}
.useCases {
	@include flex-col-center;
	.container {
		@include flex-col-center;
		h2 {
			font-size: 87px;
			font-weight: 400;
			color: $black1;
			text-align: center;
			line-height: 0.95;
			padding: 100px 0;
		}
		.table {
			width: 1372px;
			display: flex;
			flex-direction: column;
			gap: 32px;
			.row {
				display: flex;
				gap: 24px;
				> * {
					flex: 1 1 0;
				}
				.element {
					border-radius: 16px;
					border: 3px solid $black1;
					border-left: 15px solid $black1;
					display: flex;
					flex-direction: column;
					box-sizing: border-box;
					.top {
						padding: 24px 0 0 24px;
						height: 100%;
						flex: 1 0 0;
						position: relative;
						.number {
							width: 72px;
							height: 72px;
							border: 3px solid $black1;
							border-radius: 1999px;
							display: flex;
							justify-content: center;
							align-items: center;
							p {
								font-size: 33px;
								font-weight: 800;
							}
						}
						img {
							position: absolute;
							top: 24px;
							right: 30px;
						}
					}
					.bottom {
						border-top: 2px dashed $black1;
						padding: 24px;
						box-sizing: border-box;
						display: flex;
						justify-content: space-between;
						.left {
							font-size: 29px;
							color: $black1;
							font-weight: 400;
						}
						.right {
							width: 330px;
							font-size: 21px;
							font-weight: 400;
							color: $black1;
							text-align: left;
							line-height: 1.4;
						}
					}
				}
				&:first-child {
					.element {
						width: 100%;
						height: 720px;
						box-sizing: border-box;
						.bottom {
							height: 190px;
						}
					}
				}
				&:nth-child(2) {
					.element {
						height: 608px;
						.top {
							img {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
						.bottom {
							height: 175px;
							.right {
								font-size: 18px;
							}
						}
					}
				}
				&:nth-child(3) {
					.element {
						height: 500px;
						.top {
							img {
								top: auto;
								bottom: 0;
								right: 0;
							}
						}
						.bottom {
							flex-direction: column;
							gap: 5px;
							.left {
								font-size: 22px;
							}
							.right {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}
.pros{
	box-sizing: border-box;
	width: 1372px;
	height: 113px;
	border-radius: 32px;
	background-color: $black1;
	display: flex;
	flex-direction: column;
	margin-top:20px;
	margin-bottom:80px;
	ul{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		gap:10px;
		color:white;
		flex: 1 1 0;
		&:first-child{
			border-bottom:2px dashed $white1;
		}
		li{
			font-size: 20px;
			font-weight: 300;
		}
	}
}
.compatibleWith{
	@include flex-col-center;
	.container{
		overflow-x: hidden;
		position:relative;
		height: 600px;
		.center{
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			width: 384px;
			height: 372px;
			@include flex-col-center;
			box-sizing: border-box;
			background-color: transparent;
			z-index: 2;
			justify-content: space-between;
			h2,p{
				text-align: center;
				color:$black1;
				font-weight: 400;
			}
			h2{
				font-size: 55px;
				line-height: 1;
			}
			p{
				font-size:21px;
			}
			button{
				color:$black1;
				background-color: #F9FAFB;
				border:2px solid $black1;
				display: flex;
				gap:20px;
				padding:34px 30px;
				width: 330px;
				height: 90px;
				box-sizing: border-box;
				align-items: center;
				border-radius: 32px;
				font-size: 20px;
				font-weight: 700;
				justify-content: center;
				box-shadow: 0 4px 0 $black1;
				transition: background-color 0.1s ease-in;
				cursor:pointer;
				&:hover{
					background-color:#E1E1E1;
				}

				.arrow{
					font-size: 15px;
				}
			}
		}
		.backgroundApps{
			padding:35px 0;
			height: 100%;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			gap:16px;
			position:relative;
			.row{
				display: flex;
				gap:16px;
				position:relative;
				&:nth-child(1){
					transform: translateX(-60px);
				}
				&:nth-child(2){
					transform: translateX(-530px);
				}
				&:nth-child(3){
					transform: translateX(-200px);
				}
				&:nth-child(4){
					transform: translateX(-670px);
				}
				.element{
					width: 120px;
					height: 120px;
					box-sizing: border-box;
					border-radius: 32px;
					background-color: transparent;
					border:2px solid rgba(#D1D5DB,0.8);
					display: flex;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					img{
						height: 50px;
						width: 50px;;
					}
				}
			}
		}
	}
}