*{
    margin:0;
    padding:0;
    font-family:"Inter",sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
button{
    cursor: pointer;
    border:none;
}
@mixin flex-col-center{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#root{
    width: 100%;
    >*{
        width: 100%;
        @include flex-col-center;
    }
}
.container{
    width: 1280px;
}
.header{
    background-color: black;
    border-bottom: 1px solid rgb(255,255,255,0.1);
    .container{
        height: 80px;
        margin-top:32px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        color:white;
        .logo{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:10px;
            img{
                height:32px;
            }
            a{
                font-size: 20px;
            }
        }
        nav{
            display: flex;
            justify-content: space-around;
            a{
                color:white;
                transition: color 0.2s ease-in;
                font-size: 15px;
                font-weight: normal;
                margin:0 16px;
                &:hover{
                    color:lightgray;
                }
            }
        }
        .loginSupport{
            display: flex;
            gap:30px;
            button{
                border:none;
                background-color: black;
                color:white;
                &:last-child{
                    background-color: #5B6CFF;
                    padding:18px 23px;
                    font-size: 16px;
                    border-radius: 64px;
                }
            }
        }
    }
}
.demo{
    background-color: black;
    @include flex-col-center;
    .container{
        @include flex-col-center;
        gap:30px;
        padding-bottom: 30px;
        h1{
            font-size: 103px;
            font-weight: normal;
            color:white;
        }
        p{
            color:rgb(255,255,255,0.7);
            font-size: 24px;
            font-weight: normal;
            text-align: center;
        }
    }
}
.demoPlayer{
    background-image: url('assets/images//blur1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    height: 823px;
    position: relative;
    .buttons{
        display: flex;
        gap:10px;
        button{
            border-radius: 64px;
            font-weight: normal;
            font-size: 16px;
            &:first-child{
                padding:18px 23px;
                background-color: #5B6CFF;
                color:white;
            }
            &:last-child{    
                display: flex;
                align-items: center;
                gap:8px;
                color:white;
                border:1px solid gray;
                background-color: black;
                padding: 10px 20px;
            }
        }
    }
    img{
        position: absolute;
        &:nth-child(2){
            top:100px;
            height: 75%;
            z-index: 1;
        }
        &:nth-child(3),&:nth-child(4){
            top:100px;
            width: 1084px;
            height: 614px;
            border-radius: 10px;
        }
        &:nth-child(3){
            z-index: 3;
        }
        &:nth-child(4){
            z-index: 2;
            height: 610px;
        }
    }
}
.partners{
    height: 460px;
    background-color: black;
    .container{
        display: flex;
        justify-content: space-between;
        height: inherit;
        .left{
            width: 416px;
            h2{
                color:white;
                font-size: 45px;
                font-weight: normal;
                margin:20px 0;
            }
            >p{
                font-size: 15px;
                color:white;
                opacity:0.65;
                font-weight: 300;
            }
            .attendance{
                margin-top: 70px;
                .top{
                    display: flex;
                    gap:10px;
                    justify-content: flex-start;
                    .arrow{
                        color:#00EB8D;
                        font-size: 35px;
                    }
                    p{
                        font-weight: 300;
                        font-size: 29px;
                        color:white;
                        &:last-child{
                            opacity: 0.65;
                        }
                    }
                }
                >p{
                    color:white;
                    font-size: 11px;
                    opacity: 0.65;
                    margin-top: 5px;
                }
            }
        }
        .right{
            display: flex;
            justify-content: center;
            gap:10px;
            width: 50%;
            .column{
                display: flex;
                flex-direction: column;
                overflow-y: hidden;
                height: inherit;
                &:first-child{
                    .group{
                        animation: spin-down 30s linear infinite;
                    }
                }
                &:last-child{
                    .group{
                        animation: spin-up 30s linear infinite;
                    }
                }
                .group{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}
@keyframes spin-down{
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
}
@keyframes spin-up{
    from{transform: translateY(0%);}
    to{transform: translateY(-100%);}
}
.experience{
    background-color: white;
    @include flex-col-center;
    height: 2270px;
    justify-content: center;
    .container{
        @include flex-col-center;
        h1{
            font-size: 248px;
            font-weight: 300;
            line-height: 0.85;
            margin-bottom: 50px;
            span{
                font-size: 64px;
            }
        }
        .cardsLayout,.lastRow{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap:24px;
            width: 100%;
            margin:12px 0;
            >div{
                padding:40px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap:7px;
                box-sizing: border-box;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                overflow: hidden;
                h2{
                    font-size: 18px;
                    font-weight: normal;
                }
                p{
                    font-size: 16px;
                    font-weight: 300;
                    color:rgb(0,0,0,0.7);
                    width: 340px;
                    line-height: 1.5;
                }
            }
            .card1{
                background-image:url('assets/images/div.jpg');
                grid-column: span 2;
                height: 480px;
            }
            .card2,.card3{
                height: 612px;
            }
            .card2{
                background-image: url('assets/images/feelings.jpg');
                width: 732px;
            }
            .card3{
                background: linear-gradient(180deg,rgb(0,0,0) 0%,rgb(255,255,255) 100%);
                h2{
                    color:white;
                }
                p{
                    color:rgb(255,255,255,0.65);
                }
                img{
                    &:nth-child(3){
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%);
                        width:240px;
                    }
                    &:nth-child(4){
                        position:absolute;
                        left: 50%;
                        bottom:0;
                        width:320px;
                        border-radius: 10px;
                        transform: translate(-50%,10%);
                    }
                }
            }
            .card4,.card5{
                height: 363px;
                position:relative;
            }
            .card4{
                background-image: url('assets/images/blur3.jpg');
                width: 628px;
                h2,p{
                    color:white;
                }
                img{
                    position: absolute;
                    bottom: 0;
                    width: 110%;
                    left:50%;
                    transform: translate(-50%,0);
                }
            }
            .card5{
                background-image: url('assets/images/blur4.jpg');
                width: 100%;
                p{
                    width: 300px;
                }
                img{
                    position:absolute;
                    right:0;
                    top:0;
                    width: 280px;
                }
            }
        }
        button{
            margin-top: 50px;
            border-radius: 64px;
            border:1px solid rgb(0,0,0,0.1);
            background-color: white;
            display: flex;
            justify-content: space-between;
            padding:15px 24px;
            align-items: center;
            p{
                font-size: 16px;
                font-weight: normal;
                color:black;
            }
            .arrow{
                font-size: 25px;
            }
        }
    }
}
.customerStories{
    @include flex-col-center;
    background-color: black;
    height: 900px;
    .container{
        height: 100%;
        width: 1440px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .info{
            width: 640px;
            height: 290px;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >*{
                font-weight: 300;
                width: fit-content;
            }
            h2{
                font-size: 56px;
                color:white;
            }
            h3{
                font-size: 22px;
                color:rgb(255,255,255,0.65);
            }
            button{
                background-color: black;
                padding: 15px 20px;
                border-radius: 64px;
                border:1px solid rgb(255,255,255,0.2);
                color:white;
            }
        }
        img{
            height: 900px;
            position: absolute;
            right:0;
        }
    }
}
.features{
    height: 2040px;
    background-color: black;
    @include flex-col-center;
    .container{
        @include flex-col-center;
        height: inherit;
        padding:100px 0;
        justify-content: space-between;
        >*{
            width: 100%;
            color:white;
        }
        h2{
            font-size: 44px;
            font-weight: 400;
        }
        h1{
            font-size: 236px;
            line-height: 210px;
            font-weight: 300;
            &:nth-child(3){
                text-align: end;
            }
        }
        .layout{
            display: grid;
            width: 100%;
            grid-template-columns:repeat(3,1fr);
            gap:24px;
            >*{
                padding: 40px;
            }
            .cardWide{
                grid-column: span 3;
                background-image: url('assets/images/div1.jpg');
                background-size:cover;
                background-repeat: no-repeat;
                background-position:left;
                height: 550px;
                >*{
                    width: 260px;
                }
                h2{
                    font-size: 18px;
                    font-weight: 400;
                    color:black;
                    line-height: 26px;
                    margin-bottom: 20px;
                }
                p{
                    color:rgb(0,0,0,0.7);
                    line-height: 21px;
                }
            }
            .card{
                background-color: rgb(255,255,255,0.08);
                height: 485px;
                position: relative;
                overflow: hidden;
                box-sizing: border-box;
                h2{
                    color:white;
                    line-height: 26px;
                    font-size: 19px;
                    font-weight: 300;
                    margin-bottom: 6px;
                }
                p{
                    color:rgb(255,255,255,0.65);
                    font-size: 16px;
                    line-height: 21px;
                    font-weight: 300;
                    width: 303px;
                }
                img{
                    position: absolute;
                    width: 444px;
                    bottom: -20px;
                    border:1px solid rgb(255,255,255,0.2);
                    border-radius: 12px;
                }
                &:nth-child(2){
                    img{
                        bottom:-40px;
                    }
                }
            }
        }
        button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border:1px solid rgb(255,255,255,0.2);
            border-radius: 64px;
            width: fit-content;
            background-color: black;
            gap:10px;
            padding:13px 20px;
            span{
                font-size: 16px;
                font-weight: 400;
                color:white;
                line-height: 1;
            }
            .arrow{
                color:white;
                font-size: 25px;
            }
        }
    }
}