*{
    margin:0;
    padding:0;
    font-family:"Inter";
}
a{
    text-decoration: none;
}
@mixin flex-col-center{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#root{
    width: 100%;
    >*{
        width: 100%;
    }
}
.container{
    width: 1280px;
    @include flex-col-center;
}