*{
    margin:0;
    padding:0;
    font-family:"Inter",sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
button{
    cursor: pointer;
    border:none;
}
@mixin flex-col-center{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#root{
    width: 100%;
    >*{
        width: 100%;
        @include flex-col-center;
    }
}
.container{
    width: 1280px;
}
.header{
    background-color: black;
    border-bottom: 1px solid rgb(255,255,255,0.1);
    .container{
        height: 80px;
        margin-top:32px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        color:white;
        .logo{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:10px;
            img{
                height:32px;
            }
            a{
                font-size: 20px;
            }
        }
        nav{
            display: flex;
            justify-content: space-around;
            a{
                color:white;
                transition: color 0.2s ease-in;
                font-size: 15px;
                font-weight: normal;
                margin:0 16px;
                &:hover{
                    color:lightgray;
                }
            }
        }
        .loginSupport{
            display: flex;
            gap:30px;
            button{
                border:none;
                background-color: black;
                color:white;
                &:last-child{
                    background-color: #5B6CFF;
                    padding:18px 23px;
                    font-size: 16px;
                    border-radius: 64px;
                }
            }
        }
    }
}
.demo{
    background-color: black;
    @include flex-col-center;
    .container{
        @include flex-col-center;
        gap:30px;
        padding-bottom: 30px;
        h1{
            font-size: 103px;
            font-weight: normal;
            color:white;
        }
        p{
            color:rgb(255,255,255,0.7);
            font-size: 24px;
            font-weight: normal;
            text-align: center;
        }
    }
}
.demoPlayer{
    background-image: url('assets/images//blur1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    height: 823px;
    position: relative;
    .buttons{
        display: flex;
        gap:10px;
        button{
            border-radius: 64px;
            font-weight: normal;
            font-size: 16px;
            &:first-child{
                padding:18px 23px;
                background-color: #5B6CFF;
                color:white;
            }
            &:last-child{    
                display: flex;
                align-items: center;
                gap:8px;
                color:white;
                border:1px solid gray;
                background-color: black;
                padding: 10px 20px;
            }
        }
    }
    img{
        position: absolute;
        &:nth-child(2){
            top:100px;
            height: 75%;
            z-index: 1;
        }
        &:nth-child(3),&:nth-child(4){
            top:100px;
            width: 1084px;
            height: 614px;
            border-radius: 10px;
        }
        &:nth-child(3){
            z-index: 3;
        }
        &:nth-child(4){
            z-index: 2;
            height: 610px;
        }
    }
}
.partners{
    height: 460px;
    background-color: black;
    .container{
        display: flex;
        justify-content: space-between;
        height: inherit;
        .left{
            width: 416px;
            h2{
                color:white;
                font-size: 45px;
                font-weight: normal;
                margin:20px 0;
            }
            >p{
                font-size: 15px;
                color:white;
                opacity:0.65;
                font-weight: 300;
            }
            .attendance{
                margin-top: 70px;
                .top{
                    display: flex;
                    gap:10px;
                    justify-content: flex-start;
                    .arrow{
                        color:#00EB8D;
                        font-size: 35px;
                    }
                    p{
                        font-weight: 300;
                        font-size: 29px;
                        color:white;
                        &:last-child{
                            opacity: 0.65;
                        }
                    }
                }
                >p{
                    color:white;
                    font-size: 11px;
                    opacity: 0.65;
                    margin-top: 5px;
                }
            }
        }
        .right{
            display: flex;
            justify-content: center;
            gap:10px;
            width: 50%;
            .column{
                display: flex;
                flex-direction: column;
                overflow-y: hidden;
                height: inherit;
                &:first-child{
                    .group{
                        animation: spin-down 30s linear infinite;
                    }
                }
                &:last-child{
                    .group{
                        animation: spin-up 30s linear infinite;
                    }
                }
                .group{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}
@keyframes spin-down{
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
}
@keyframes spin-up{
    from{transform: translateY(0%);}
    to{transform: translateY(-100%);}
}