*{
    padding:0;
    margin:0;
    font-family: "Inter", sans-serif;
}
@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    cursor:pointer;
}
a{
    color:white;
    text-decoration: none;
    transition: color .2s ease;
}
a:hover{
    color:#73757B;
}
.container{
    width: 1440px;
}
#root{
    height: 1000px;
    >*{
        width: 100%;
    }
}
.header{
    background-color: #000000;
    height: 810px;
    @include flex-col-center;
    .container{
        @include flex-col-center;
        padding: 45px 0;
        position: relative;
        height: 100%;
        >*{
            z-index: 2;
        }
        >img{
            position: absolute;
            top:0;
            height: 100%;
            z-index: 0;
        }
    }
    .headerInput{
        align-self: flex-end;
        border:none;
        outline: none;
        height: 47px;
        width: 193px;
        border-radius: 20px;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .topHeader{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        margin:60px 0;
        .logo{
            font-size: 50px;
            color:white;
            font-weight: bold;
            position: absolute;
            left: 0;
        }
        nav{
            display: flex;
            justify-content: space-between;
            width: 350px;
            a{
                font-size:16px;
                opacity: 0.64;
                &:last-child{
                    position: relative;
                    padding-right: 15px;
                }
                &:last-child::after{
                    content:"";
                    height: 7px;
                    width: 7px;
                    background-color: #1FC6BB;
                    border-radius: 50%;
                    position: absolute;
                    top:50%;
                    right:0;
                    transform:translateY(-50%); 
                }
            }
        }
    }
    .mainBlock{
        @include flex-col-center;
        gap:20px;
        p{
            color:white;
            font-size: 57px;
            text-align: center;
            span{
                font-weight: bold;
            }
        }
        button{
            padding: 30px 50px;
            color:#000000;
            box-sizing: border-box;
            background-color:#6FDBD4;
            border-radius: 40px;
            border:none;
            font-weight: bold;
        }
    }
    .bottomText{
        align-self: flex-start;
        margin-top: 180px;
        display: flex;
        gap:20px;
        align-items: center;
        >img{
            height: 30px;
            display: flex;
            gap:10px;
        }
        p{
            color:#A0A1A8;
            font-size: 10px;
        }
    }
}
.advantages{
    background-color: #1C1C1E;
    @include flex-col-center;
    .container{
        height: 883px;
        @include flex-col-center;
        margin-top: 100px;
        width: 1240px;
        gap:100px;
        position: relative;
        padding-bottom:50px;
        border-bottom:1px solid #73757B;
        >img{
            height: 883px;
            position: absolute;
            top:0;
        }
    }
    .topText{
        @include flex-col-center;
        p{
            color:white;
            font-size: 36px;
            &:nth-child(1){
                color:#6FDBD4;
                font-weight: normal;
                font-size: 15px;
            }
            &:nth-child(2){
                font-weight: bold;
            }
        }
    }
    .row{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .rowElement{
            display: flex;
            flex-direction: column;
            width: 260px;
            text-align: left;
            align-items: flex-start;
            .rowElementImg{
                color:#6FDBD4;
                font-size: 38px;
                margin-bottom: 20px;
                
            }
            &:last-child{
                text-align: right;
                align-items: flex-end;
            }
            p{
                &:nth-child(2){
                    font-size: 21px;
                    color:white;
                    margin-bottom: 10px;
                }
                &:last-child{
                    font-size: 15px;
                    color:#A0A1A8;
                }
            }
        }
    }
    .carousel{
        width: 1440px;
        display: flex;
        padding:93px 0;
        overflow-x: hidden;
        .brands{
            display: flex;
            gap:250px;
            padding: 0 125px;
            animation:spin 30s linear infinite;
            .brand{
                height: 46px;
            }
        }
    }
}
@keyframes spin{
    from{translate: 0;}
    to {translate:-100%;}
}
.creditCards{
    @include flex-col-center;
    .card{
        width: 100%;
        height: 707px;
        display: flex;
        justify-content: center;
        &:first-child{
            background-color: black;
        }
        .container{
            width: 1440px;     
            height: 100%;
            position: relative;
            h2{
                font-weight: normal;
                font-size: 39px;
                position: absolute;
                left: 50%;
                top:35%;
                span{
                    color:#1FC6BB;
                }
            }
            img{
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        &:last-child{
            img{
                left: 0;
            }
        }
    }
}
.benefits{
    width: 100%;
    display: flex;
    height: 810px;
    justify-content: center;
    .container{
        width: 720px;
        height: 100%;
    }
    .left{
        height: inherit;
        width: 50%;
        background-color: #1C1C1E;
        display: flex;
        justify-content: flex-end;
        .container{
            @include flex-col-center;
            justify-content: center;
            gap:40px;
            .text{
                width: 520px;
                border-top:1px solid #C4C4C4;
                color:white;
                padding-top:47px;
                display: flex;
                flex-direction: column;
                gap:20px;
                >*{
                    font-weight: normal;
                    opacity: 0.3;
                }
            }
            .active{
                >*{
                    opacity: 1;
                }
            }
        }
    }
    .right{
        width:50%;
        /* height: inherit ; */
        display: flex;
        justify-content: flex-start;
        background-color: #EBEBF1;
        .container{
            display: flex;
            justify-content: center;
            gap:54px;
            >*{
                overflow-y: hidden;
                display: flex;
                .group{
                    @include flex-col-center;
                    padding:27px 0;
                    width: fit-content;
                    gap:54px;
                    .brand{
                        width: 216px;
                        height: 216px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 36px;
                        background-color: white;
                    }
                }
                &::-webkit-scrollbar{
                    display: none;
                }
            }
            .leftColumn{
                @include flex-col-center;
                .group{
                animation: spin-down 20s linear infinite;
                }
            }
            .rightColumn{
                @include flex-col-center;
                .group{
                animation: spin-up 20s linear infinite;
                }
            }
        }
    }
}
@keyframes spin-down{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes spin-up{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-100%);
    }
}
.comparation{
    background-color: black;
    @include flex-col-center;
    .container{
        @include flex-col-center;
    }
    h2{
        font-size: 82px;
        font-weight: 500;
        color:white;
        text-align: center;
        margin-top:150px;
    }
    .table{
        margin:90px 0;
        display: grid;
        grid-template-columns: repeat(3,420px);
        grid-template-rows: 206px repeat(6,63px) 72px 80px;
        .item{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-top:1px solid #2F2F2F;
            &:nth-child(1),&:nth-child(2),&:nth-child(3){
                border:none;
                justify-content: flex-start;
                gap:20px;
            }
            color:white;
            &:nth-child(2){
                img{
                    width: 266px;
                }
            }
            &:nth-child(3){
                img{
                    width: 196px;
                }
            }
            img{
                height: 123px;
            }
            h3{
                color:#10ACA2;
                font-weight: normal;
                font-size: 24px;
            }
            h4{
                font-size: 14px;
                font-weight: 400;
            }
            h5{
                color:white;
                font-weight: normal;
                font-size: 41px;
                span{
                    font-size: 9px;
                    color:#A0A1A8;
                }
            }
            button{
                background-color: #6FDBD4;
                padding:15px 24px;
                font-size: 13px;
                font-weight: 600;
                width: fit-content;
                border: none;
                border-radius: 50px;
            }
        }
    }
}
.reviews{
    background-color: black;
    @include flex-col-center;
    .container{
        @include flex-col-center;
        width: 1440px;
        padding: 90px 0;
        gap:40px;
        h2{
            font-size: 70px;
            color:white;
            font-weight: 400;
            width: fit-content;
        }
        .carousel{
            display: flex;
            overflow-x:hidden;
            width: 100%;
            &::-webkit-scrollbar{
                display: none;
            }
            .group{
                display: flex;
                gap:40px;
                padding: 0 20px;
                animation: spin 25s linear infinite;
                .item{
                    width: 595px;
                    height: 387px;
                    display: flex;
                    gap:62px;
                    padding: 60px;
                    box-sizing: border-box;
                    background-color: #1C1C1E;
                    border-radius: 20px;
                    img{
                        height: 31px;
                    }
                    .right{
                        width: 370px;
                        height: 280px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h3{
                            text-align: left;
                            font-size: 27px;
                            color:white;
                            font-weight: 300;
                        }
                        h4{
                            padding-left:80px;
                            font-size: 17px;
                            font-weight: bold;
                            color:white;
                            position: relative;
                            &:before{
                                position: absolute;
                                left: 0;
                                top:50%;
                                transform: translateY(-50%);
                                content: "";
                                height: 4px;
                                width: 60px;
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
.download{
    background-color: black;
    @include flex-col-center;
    .container{
        margin-top: 50px;
        background-image: url('./assets/images/people.png');
        width: 1240px;
        height: 410px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;
        color:white;
        box-sizing: border-box;
        padding: 60px;
        display: flex;
        >*{
            width: 50%;
            display: flex;
        }
        .left{
            flex-direction: column;
            justify-content: flex-end;
            gap:20px;
            h2{
                font-weight: 500;
                font-size: 36px;
                span{
                    font-size: 55px;
                }
            }
            h3{
                font-size: 18px;
                font-weight: normal;
            }
        }
        .right{
            align-items: flex-end;
            justify-content: flex-end;
            .buttons{
                display: flex;
                gap:23px;
                button{
                    background-color: white;
                    color:black;
                    display: flex;
                    border:none;
                    border-radius: 10px;
                    padding: 10px 15px;
                    align-items: center;
                    gap:10px;
                    >*{
                        font-weight:600;
                        text-align: left;
                    }
                    .image{
                        font-size: 23px;
                    }
                    &:last-child{
                        .image{
                            font-size: 30px;
                        }
                    }
                    h4{
                        font-size: 10px;
                    }
                    h5{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.footer{
    @include flex-col-center;
    background-color: black;
    .container{
        margin-bottom:200px;
        margin-top:100px;
        @include flex-col-center;
        gap:100px;
        width: 1240px;
        .topFooter{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 340px;
            .left{
                width: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 29px;
                font-weight: normal;
                span{
                    color:#10ACA2;
                }
                >div{
                    display: flex;
                    flex-direction: column;
                }
                div:first-child{
                    a:first-child{
                        margin-bottom: 20px;
                    }
                }
                >a{
                    font-weight: bold;
                }
                h3{
                    font-weight: normal;
                    font-size: 16px;
                }
            }
            .right{
                position:relative;
                display: flex;
                flex-direction: column;
                width: 835px;
                justify-content: space-between;
                color:white;
                .contacts{
                    >*{
                        font-weight: 400;
                        font-size: 16px;
                    }
                    h3{
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                }
                >h2{
                    position:absolute;
                    top:0;
                    right:0;
                    font-size: 90px;
                }
                .bottom{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .links{
                        display: flex;
                        width: 310px;
                        justify-content: space-between;
                        .link{
                            height: 30px;
                            color:red;
                        }
                    }
                    span{
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }
        }
        .bottomFooter{
            width: 100%;
            border-top:1px solid #2F2F2F;
            display: flex;
            flex-direction: column;
            div{
                padding: 10px 0;
                padding-left: 20px;
            }
            span{
                color:#73757B;
                font-size: 11px;
                &:first-child{
                    margin:45px 0;
                }
            }
        }
    }
}